.small-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  height: 15%;
  width: 10%;
}
.image {
  height: 50px;
  width: 30px;
}
.heading2 {
  font-size: 70%;
}
